@using SEWC_ToolBox.Languages;
@using SEWC_ToolBox.DAL.SecondModels;
@using SEWC_ToolBox.DAL.EFs;
@using System.Text;

@{
    Layout = "~/Views/Shared/_Layout_ToolBox.cshtml";
    ViewBag.Title = "Home";
    ViewBag.VersionNo = HttpContext.Current.Application["VersionNo"].ToString();
}

@{
    StringBuilder HtmlBuilder = new StringBuilder();

    // 获取当前部门权限
    v_UserRole UserRole_CurrentDept = ViewBag.UserRole_CurrentDept as v_UserRole;

    if (ViewBag.Sub_ActionName == "SCMToolBox")
    {
        HtmlBuilder.Append("<div class='div_content_op'>");

        HtmlBuilder.Append("<blockquote class='layui-elem-quote layui-quote-nm' style='height: auto;'>");

        HtmlBuilder.Append("<div style='vertical-align: central'>");
        HtmlBuilder.Append("<h4 style='margin-top:0px; margin-bottom:15px;'>" + Html.Lang("txt_SCM_Workflow") + "</h4>");
        HtmlBuilder.Append("</div>");

        HtmlBuilder.Append("</blockquote>");
        HtmlBuilder.Append("</div>");

        HtmlBuilder.Append("<div class='body-content'><img class='img_contentMsg' src='/Img/SCM-Workflow.png'/></div>");
    }
    else if (ViewBag.Sub_ActionName == "MyToolBox")
    {
        #region Reporting

        HtmlBuilder.Append("<input class='hidden' id='input_thirdAction' value='" + ViewBag.Third_ActionName + "' />");

        if (ViewBag.Third_ActionName == "Reporting")
        {
            List<ReportModel> ReportList = ViewBag.ReportList;

            if (ReportList.Count > 0)
            {
                HtmlBuilder.Append("<div class='div_content_op'>");

                HtmlBuilder.Append("<blockquote class='layui-elem-quote layui-quote-nm' style='height: auto;'>");

                HtmlBuilder.Append("<div style='vertical-align: central'>");
                HtmlBuilder.Append("<h4 style='margin-top:0px; margin-bottom:15px;'>" + Html.Lang("txt_FavoriteReporting_Description") + "</h4>");
                HtmlBuilder.Append("</div>");

                HtmlBuilder.Append("<div class='layui-btn-container'>");
                HtmlBuilder.Append("<button class='btn btn-primary layui-btn btn_tool' id='btn_category_collapse' title='" + Html.Lang("txt_CollapseAll") + "' ><i class='layui-icon'>&#xe602;</i></button>");
                HtmlBuilder.Append("<button class='btn btn-primary layui-btn btn_tool' id='btn_category_expand' title='" + Html.Lang("txt_ExpandAll") + "' style='display:none; margin-left: 0px;' ><i class='layui-icon'>&#xe61a;</i></button>");

                string TempPath = "/" + ViewContext.RouteData.Values["controller"] + "/" + ViewBag.Main_ActionName + "/" + ViewBag.Sub_ActionName + "/" + ViewBag.Third_ActionName + "/";

                if (ViewBag.DisplayMode == "UpdateFrequency")
                {
                    ReportList = ReportList.OrderBy(o => o.r_m_ID_Frequency).ThenBy(o => o.r_Sort).ThenBy(o => o.r_Name).ToList();
                    TempPath += "PerformanceMeasurement";
                    HtmlBuilder.Append("<button class='btn btn-primary layui-btn btn_tool' id='btn_reportCategory_performanceMeasurement' title='" + Html.Lang("txt_ReportCategory_PerformanceMeasurement") + "' onclick='categorySwitch(\"" + TempPath + "\")' ><i class='layui-icon'>&#xe632;</i></button>");
                }
                else if (ViewBag.DisplayMode == "PerformanceMeasurement")
                {
                    ReportList = ReportList.OrderBy(o => o.r_m_ID_Category).ThenBy(o => o.r_Sort).ThenBy(o => o.r_Name).ToList();
                    TempPath += "UpdateFrequency";
                    HtmlBuilder.Append("<button class='btn btn-primary layui-btn btn_tool' id='btn_reportCategory_updateFrequency' title='" + Html.Lang("txt_ReportCategory_UpdateFrequency") + "' onclick='categorySwitch(\"" + TempPath + "\")' ><i class='layui-icon'>&#xe60e;</i></button>");
                }

                HtmlBuilder.Append("</div>");

                HtmlBuilder.Append("</blockquote>");
                HtmlBuilder.Append("</div>");

                HtmlBuilder.Append("<div class='body-content layui-collapse' style='height: auto;'>");

                int lastMenuID = 0;

                for (int i = 0; i < ReportList.Count; i++)
                {
                    ReportModel curReport = ReportList[i];
                    int curMenuID = 0;
                    string GroupTitle = string.Empty;

                    bool IsVisiable = false;

                    // 如果用户只有部分内容可见权限、且不是其Owner
                    if (UserRole_CurrentDept.a_Type_R < 2 && !curReport.r_Owner.Equals(ViewBag.CurrentUserGID))
                    {
                        // 如果是启用状态且为公共元素，则可见
                        if (curReport.r_Status == 1 && curReport.r_AccessLevel == 0)
                        {
                            IsVisiable = true;
                        }
                    }
                    // 如果用户拥有所有内容可见权限或是其Owner，则可见
                    else
                    {
                        IsVisiable = true;
                    }

                    if (IsVisiable)
                    {
                        // 显示分组Title
                        //if (ViewBag.DisplayMode.Equals("UpdateFrequency"))
                        //{
                        //    curMenuID = curReport.r_m_ID_Frequency.Value;
                        //    GroupTitle = "txt_" + ViewContext.RouteData.Values["controller"] + "_Reporting_UpdateFrequency_" + curReport.Menu_FrequencyActionName;
                        //}
                        //else if (ViewBag.DisplayMode.Equals("PerformanceMeasurement"))
                        //{
                        //    curMenuID = curReport.r_m_ID_Category.Value;
                        //    GroupTitle = "txt_" + ViewContext.RouteData.Values["controller"] + "_Reporting_PerformanceMeasurement_" + curReport.Menu_CategoryActionName;
                        //}

                        if (curMenuID != lastMenuID)
                        {
                            if (i != 0 && lastMenuID != 0)
                            {
                                HtmlBuilder.Append("</div></div>");
                            }

                            HtmlBuilder.Append("<div class='layui-colla-item'>");
                            HtmlBuilder.Append("<h2 class='layui-colla-title'>" + Html.Lang(GroupTitle) + "</h2>");
                            HtmlBuilder.Append("<div class='layui-colla-content layui-show'>");
                        }

                        HtmlBuilder.Append("<div class='div_report_item'>");

                        if (curReport.r_PicPath.Equals("N/A"))
                        {
                            curReport.r_PicPath = "/Img/ReportImg/NA.PNG";
                        }

                        // 隐藏域数据
                        HtmlBuilder.Append("<input type='text' name='input_reportID' value='" + curReport.r_ID + "' style='display:none;' />");
                        HtmlBuilder.Append("<input type='text' name='input_reportName' value='" + curReport.r_Name + "' style='display:none;' />");

                        // 报告图片预览及工具条
                        HtmlBuilder.Append("<div class='div_report_ImgView' style='background: url(\"" + @curReport.r_PicPath + "\") no-repeat center center; background-size: 100% 100%;'>");

                        // 如果是已禁用，显示禁用背景
                        if (curReport.r_Status == 0)
                        {
                            HtmlBuilder.Append("<div class='div_disabledFrame'>");
                            HtmlBuilder.Append("<span class='span_disabled' onselectstart='return false;' title='" + Html.Lang("txt_Disabled_plus") + "'>" + Html.Lang("txt_Disabled") + "</span>");
                        }
                        else if (curReport.r_Status == 2)
                        {
                            HtmlBuilder.Append("<div class='div_disabledFrame'>");
                            HtmlBuilder.Append("<span class='span_disabled' onselectstart='return false;' title='Maintaining'>" + Html.Lang("txt_Status_Maintaining") + "</span>");
                        }

                        HtmlBuilder.Append("<div class='div_report_Btn'>");
                        HtmlBuilder.Append("<a class='a_report_Btn' name='a_report_addToFavorites' title='" + Html.Lang("txt_AddToFavorites") + "' style='display: none;'><i class='layui-icon' style='font-size: 25px; color: white;'>&#xe600;</i></a>");
                        HtmlBuilder.Append("<a class='a_report_Btn' name='a_report_removeFromFavorites' title='" + Html.Lang("txt_RemoveFromFavorites") + "'><i class='layui-icon' style='font-size: 26px; color: white;'>&#xe658;</i></a>");
                        HtmlBuilder.Append("<a class='a_report_Btn' target='_blank' name='a_report_Access' href='" + curReport.r_Linkage + "' title='" + Html.Lang("txt_Visit") + "' onclick='update_reportClickStatistics(" + curReport.r_ID + ")'><i class='layui-icon' style='font-size: 23px; color: white;'>&#xe64c;</i></a>");

                        // 只有启用的报表才支持申请权限
                        if (curReport.r_Status == 1)
                        {
                            HtmlBuilder.Append("<a class='a_report_Btn' target='_blank' name='a_report_getAccess_single' title='" + Html.Lang("txt_GetAccess") + "' style='margin-left:5px;margin-right:5px;' onclick='get_reportAccess_single(" + curReport.r_ID + ",\"" + curReport.r_Name + "\");'><i class='layui-icon' style='font-size: 23px; color: white;'>&#xe857;</i></a>");
                        }

                        // 当前用户拥有站内内容编辑权限或Owner编辑权限，则显示编辑按钮
                        if (UserRole_CurrentDept.a_Type_U >= 2 || (UserRole_CurrentDept.a_Type_U != 0 && curReport.r_Owner.Equals(ViewBag.CurrentUserGID)))
                        {
                            HtmlBuilder.Append("<a class='a_report_Btn' name='a_report_edit' title='" + Html.Lang("txt_Edit") + "' style='margin-right:5px;'><i class='layui-icon' style='font-size: 29px; color: white;'>&#xe642;</i></a>");
                        }

                        // 当前用户拥有站内内容删除权限或Owner删除权限，则显示删除按钮
                        if (UserRole_CurrentDept.a_Type_D >= 2 || (UserRole_CurrentDept.a_Type_D != 0 && curReport.r_Owner.Equals(ViewBag.CurrentUserGID)))
                        {
                            HtmlBuilder.Append("<a class='a_report_Btn' name='a_report_delete' title='" + Html.Lang("txt_Delete") + "' onclick='delete_Item(0, " + curReport.r_ID + ", \"" + curReport.r_Name + "\");'><i class='layui-icon' style='font-size: 29px; color: white;'>&#xe640;</i></a>");
                        }

                        // 如果是已禁用，显示禁用背景
                        if (curReport.r_Status == 0 || curReport.r_Status == 2)
                        {
                            HtmlBuilder.Append("</div>");
                        }

                        HtmlBuilder.Append("</div>");
                        HtmlBuilder.Append("</div>");

                        // 报告详细信息
                        //HtmlBuilder.Append("<a target='_blank' name='a_report_Access' href='" + curReport.r_Linkage + "' title='" + Html.Lang("txt_Visit") + " " + curReport.r_Name + "'onclick='update_reportClickStatistics(" + curReport.r_ID + ")' style='color:#666;'><h4 class='layui-elip'><b>" + curReport.r_Name + "</b></h4></a>");
                        HtmlBuilder.Append("<div style='position:relative'><div style='width:85%'><a target='_blank' name='a_report_Access' href='" + curReport.r_Linkage + "' title='" + Html.Lang("txt_Visit") + " " + curReport.r_Name + "' style='color:#666;' onclick='update_reportClickStatistics(" + curReport.r_ID + ")'><h4 class='layui-elip'><b>" + curReport.r_Name + "</b></h4></a></div><div style='position:absolute;right:0px;top:0px;'><a class='a_report_Btn' name='a_report_issue' title='Report Errors' style='margin-right:5px'" + " onclick='report_issues(" + curReport.r_ID + ")'> <i class='layui-icon layui-icon-survey'></i></a></div></div>");
                        HtmlBuilder.Append("<p>" + Html.Lang("txt_ClickStatistics") + ": &nbsp<span id='span_clickStatistics_" + curReport.r_ID + "' class='layui-badge'>" + curReport.r_cs_ClickTimes + "</span></p>");
                        HtmlBuilder.Append("<p>" + Html.Lang("txt_Owner") + ": <a href='mailto:" + curReport.User_OwnerEmail + "' title='" + Html.Lang("txt_SendEmailToOwner") + "' style='color:#666;'>" + curReport.User_Owner + "</a></p>");
                        HtmlBuilder.Append("<p>" + Html.Lang("txt_Admin") + ": <a href='mailto:" + curReport.r_AdminEmail + "' title='" + Html.Lang("txt_SendEmailToOwner") + "'s='2' style='color:#666;'>" + curReport.r_Admin + "</a></p>");

                        if (curReport.r_lr_LastReloadTime != null)
                        {
                            HtmlBuilder.Append("<p>" + Html.Lang("txt_LastReloadTime") + ": " + curReport.r_lr_LastReloadTime.Value.ToString("yyyy-MM-dd HH:mm.ss") + "");
                        }
                        else
                        {
                            HtmlBuilder.Append("<p>" + Html.Lang("txt_LastReloadTime") + ": N/A");
                        }

                        HtmlBuilder.Append("<p class='layui-elip' style='cursor: help' title='" + ReportList[i].r_Description + "'>" + Html.Lang("txt_Description") + ": " + ReportList[i].r_Description + "</p>");
                        HtmlBuilder.Append("<br /><br /></div>");

                        if (i == ReportList.Count - 1)
                        {
                            HtmlBuilder.Append("</div></div>");
                        }

                        lastMenuID = curMenuID;
                    }
                }

                HtmlBuilder.Append("</div>");
            }
            else
            {
                HtmlBuilder.Append("<div class='div_content_op'>");

                HtmlBuilder.Append("<blockquote class='layui-elem-quote layui-quote-nm' style='height: auto;'>");

                HtmlBuilder.Append("<div style='vertical-align: central'>");
                HtmlBuilder.Append("<h4 style='margin-top:0px; margin-bottom:15px;'>" + Html.Lang("txt_FavoriteReporting_NoData_Description") + "</h4>");
                HtmlBuilder.Append("</div>");

                HtmlBuilder.Append("</blockquote>");
                HtmlBuilder.Append("</div>");

                HtmlBuilder.Append("<div class='body-content'><img class='img_contentMsg' src='/Img/no-data-found.jpg'/></div>");
            }
        }

        #endregion

        #region QuickLink

        else if (ViewBag.Third_ActionName == "QuickLink")
        {
            List<QuickLinkModel> QuickLinkList = ViewBag.QuickLinkList;

            if (QuickLinkList.Count > 0)
            {
                HtmlBuilder.Append("<div class='div_content_op'>");

                HtmlBuilder.Append("<blockquote class='layui-elem-quote layui-quote-nm' style='height: auto;'>");

                HtmlBuilder.Append("<div style='vertical-align: central'>");
                HtmlBuilder.Append("<h4 style='margin-top:0px; margin-bottom:15px;'>" + Html.Lang("txt_FavoriteQuickLink_Description") + "</h4>");
                HtmlBuilder.Append("</div>");

                HtmlBuilder.Append("<div class='layui-btn-container'>");
                HtmlBuilder.Append("<button class='btn btn-primary layui-btn btn_tool' id='btn_category_collapse' title='" + Html.Lang("txt_CollapseAll") + "' ><i class='layui-icon'>&#xe602;</i></button>");
                HtmlBuilder.Append("<button class='btn btn-primary layui-btn btn_tool' id='btn_category_expand' title='" + Html.Lang("txt_ExpandAll") + "' style='display:none; margin-left: 0px;' ><i class='layui-icon'>&#xe61a;</i></button>");
                HtmlBuilder.Append("</div>");

                HtmlBuilder.Append("</blockquote>");
                HtmlBuilder.Append("</div>");

                HtmlBuilder.Append("<div class='body-content layui-collapse' style='height: auto;'>");

                int lastMenuID = 0;

                for (int i = 0; i < QuickLinkList.Count; i++)
                {
                    QuickLinkModel curQuickLink = QuickLinkList[i];

                    bool IsVisiable = false;

                    // 如果用户只有部分内容可见权限
                    if (UserRole_CurrentDept.a_Type_R < 2)
                    {
                        // 如果是启用状态且为公共元素，则可见
                        if (curQuickLink.ql_Status == 1 && curQuickLink.ql_AccessLevel == 0)
                        {
                            IsVisiable = true;
                        }
                    }
                    // 如果用户拥有所有内容可见权限，则可见
                    else
                    {
                        IsVisiable = true;
                    }

                    if (IsVisiable)
                    {
                        if (curQuickLink.ql_m_ID != lastMenuID)
                        {
                            if (i != 0)
                            {
                                HtmlBuilder.Append("</div></div>");
                            }

                            HtmlBuilder.Append("<div class='layui-colla-item'>");
                            HtmlBuilder.Append("<h2 class='layui-colla-title'>" + Html.Lang("txt_" + ViewContext.RouteData.Values["controller"] + "_QuickLink_" + curQuickLink.ql_m_ActionName) + "</h2>");
                            HtmlBuilder.Append("<div class='layui-colla-content layui-show'>");
                        }

                        HtmlBuilder.Append("<div class='div_quickLink_item'>");

                        if (curQuickLink.ql_PicPath.Equals("N/A"))
                        {
                            curQuickLink.ql_PicPath = "/Img/ReportImg/NA.PNG";
                        }

                        // 隐藏域数据
                        HtmlBuilder.Append("<input type='text' name='input_quickLinkID' value='" + curQuickLink.ql_ID + "' style='display:none;' />");
                        HtmlBuilder.Append("<input type='text' name='input_quickLinkName' value='" + curQuickLink.ql_Name + "' style='display:none;' />");

                        // 快速链接图片预览及工具条
                        HtmlBuilder.Append("<div class='div_quickLink_ImgView' style='background: url(\"" + curQuickLink.ql_PicPath + "\") no-repeat center center; background-size: 100% 100%;'>");

                        // 如果是已禁用，显示禁用背景
                        if (curQuickLink.ql_Status == 0)
                        {
                            HtmlBuilder.Append("<div class='div_disabledFrame'>");
                            HtmlBuilder.Append("<span class='span_disabled' onselectstart='return false;' title='" + Html.Lang("txt_Disabled_plus") + "'>" + Html.Lang("txt_Disabled") + "</span>");
                        }

                        HtmlBuilder.Append("<div class='div_quickLink_Btn'>");
                        HtmlBuilder.Append("<a class='a_quickLink_Btn' name='a_quickLink_addToFavorites' title='" + Html.Lang("txt_AddToFavorites") + "' style='display: none;'><i class='layui-icon' style='font-size: 25px; color: white;'>&#xe600;</i></a>");
                        HtmlBuilder.Append("<a class='a_quickLink_Btn' name='a_quickLink_removeFromFavorites' title='" + Html.Lang("txt_RemoveFromFavorites") + "'><i class='layui-icon' style='font-size: 26px; color: white;'>&#xe658;</i></a>");
                        HtmlBuilder.Append("<a class='a_quickLink_Btn' target='_blank' name='a_quickLinkAccess' href='" + curQuickLink.ql_Linkage + "' title='" + Html.Lang("txt_Visit") + "'><i class='layui-icon' style='font-size: 23px; color: white;'>&#xe64c;</i></a>");

                        // 当前用户拥有站内内容编辑权限，则显示编辑按钮
                        if (UserRole_CurrentDept.a_Type_U >= 2)
                        {
                            HtmlBuilder.Append("<a class='a_quickLink_Btn' name='a_quickLink_edit' title='" + Html.Lang("txt_Edit") + "' style='margin-right:5px;'><i class='layui-icon' style='font-size: 29px; color: white;'>&#xe642;</i></a>");
                        }

                        // 当前用户拥有站内内容删除权限，则显示删除按钮
                        if (UserRole_CurrentDept.a_Type_D >= 2)
                        {
                            HtmlBuilder.Append("<a class='a_quickLink_Btn' name='a_quickLink_delete' title='" + Html.Lang("txt_Delete") + "' onclick='delete_Item(1, " + curQuickLink.ql_ID + ", \"" + curQuickLink.ql_Name + "\");'><i class='layui-icon' style='font-size: 29px; color: white;'>&#xe640;</i></a>");
                        }

                        // 如果是已禁用，显示禁用背景
                        if (curQuickLink.ql_Status == 0)
                        {
                            HtmlBuilder.Append("</div>");
                        }

                        HtmlBuilder.Append("</div>");
                        HtmlBuilder.Append("</div>");

                        // 快速链接详细信息
                        HtmlBuilder.Append("<a target='_blank' name='a_quickLinkAccess' href='" + curQuickLink.ql_Linkage + "' title='" + Html.Lang("txt_Visit") + " " + curQuickLink.ql_Name + "' style='color:#666;'><h4 class='layui-elip'><b>" + curQuickLink.ql_Name + "</b></h4></a>");
                        HtmlBuilder.Append("<p class='layui-elip' style='cursor: help' title='" + curQuickLink.ql_Description + "'>" + Html.Lang("txt_Description") + ": " + curQuickLink.ql_Description + "</p>");
                        HtmlBuilder.Append("<br /><br /></div>");

                        if (i == QuickLinkList.Count - 1)
                        {
                            HtmlBuilder.Append("</div></div>");
                        }

                        lastMenuID = curQuickLink.ql_m_ID.Value;
                    }
                }

                HtmlBuilder.Append("</div>");
            }
            else
            {
                HtmlBuilder.Append("<div class='div_content_op'>");

                HtmlBuilder.Append("<blockquote class='layui-elem-quote layui-quote-nm' style='height: auto;'>");

                HtmlBuilder.Append("<div style='vertical-align: central'>");
                HtmlBuilder.Append("<h4 style='margin-top:0px; margin-bottom:15px;'>" + Html.Lang("txt_FavoriteQuickLink_NoData_Description") + "</h4>");
                HtmlBuilder.Append("</div>");

                HtmlBuilder.Append("</blockquote>");
                HtmlBuilder.Append("</div>");

                HtmlBuilder.Append("<div class='body-content'><img class='img_contentMsg' src='/Img/no-data-found.jpg'/></div>");
            }
        }

        #endregion

        #region Customization

        else if (ViewBag.Third_ActionName == "Customization")
        {
            List<t_Customization> CustomizationList = ViewBag.CustomizationList;

            if (CustomizationList.Count > 0)
            {
                HtmlBuilder.Append("<div class='div_content_op'>");

                HtmlBuilder.Append("<blockquote class='layui-elem-quote layui-quote-nm' style='height: auto;'>");

                HtmlBuilder.Append("<div style='vertical-align: central'>");
                HtmlBuilder.Append("<h4 style='margin-top:0px; margin-bottom:15px;'>" + Html.Lang("txt_Customization_Description") + "</h4>");
                HtmlBuilder.Append("</div>");

                HtmlBuilder.Append("<div class='layui-btn-container'>");
                HtmlBuilder.Append("<button class='btn btn-primary layui-btn btn_tool' id='btn_category_collapse' title='" + Html.Lang("txt_CollapseAll") + "' ><i class='layui-icon'>&#xe602;</i></button>");
                HtmlBuilder.Append("<button class='btn btn-primary layui-btn btn_tool' id='btn_category_expand' title='" + Html.Lang("txt_ExpandAll") + "' style='display:none; margin-left: 0px;' ><i class='layui-icon'>&#xe61a;</i></button>");
                HtmlBuilder.Append("<button class='btn btn-primary layui-btn btn_tool' id='btn_addCustomization' title='" + Html.Lang("txt_AddCustomization") + "' onclick='addCustomization(" + ViewBag.DeptID + ");' ><i class='layui-icon'>&#xe61f;</i></button>");
                HtmlBuilder.Append("</div>");

                HtmlBuilder.Append("</blockquote>");
                HtmlBuilder.Append("</div>");

                HtmlBuilder.Append("<div class='body-content layui-collapse' style='height: auto;'>");

                string lastCategory = string.Empty;

                for (int i = 0; i < CustomizationList.Count; i++)
                {
                    t_Customization curItem = CustomizationList[i];

                    if (!curItem.c_Category.Equals(lastCategory))
                    {
                        if (i != 0)
                        {
                            HtmlBuilder.Append("</div></div>");
                        }

                        HtmlBuilder.Append("<div class='layui-colla-item'>");
                        HtmlBuilder.Append("<h2 class='layui-colla-title'>" + curItem.c_Category + "</h2>");
                        HtmlBuilder.Append("<div class='layui-colla-content layui-show'>");
                    }

                    HtmlBuilder.Append("<div class='div_quickLink_item'>");

                    if (curItem.c_PicPath.Equals("N/A"))
                    {
                        curItem.c_PicPath = "/Img/ReportImg/NA.PNG";
                    }

                    // 隐藏域数据
                    HtmlBuilder.Append("<input type='text' name='input_customizationID' value='" + curItem.c_ID + "' style='display:none;' />");
                    HtmlBuilder.Append("<input type='text' name='input_customizationName' value='" + curItem.c_Name + "' style='display:none;' />");

                    // 快速链接图片预览及工具条
                    HtmlBuilder.Append("<div class='div_quickLink_ImgView' style='background: url(\"" + curItem.c_PicPath + "\") no-repeat center center; background-size: 100% 100%;'>");
                    HtmlBuilder.Append("<div class='div_quickLink_Btn'>");

                    HtmlBuilder.Append("<a class='a_quickLink_Btn' target='_blank' name='a_quickLinkAccess' href='" + curItem.c_Linkage + "' title='" + Html.Lang("txt_Visit") + "'><i class='layui-icon' style='font-size: 23px; color: white;'>&#xe64c;</i></a>");

                    HtmlBuilder.Append("<a class='a_quickLink_Btn' name='a_customization_edit' title='" + Html.Lang("txt_Edit") + "' style='margin-right:5px;'><i class='layui-icon' style='font-size: 29px; color: white;'>&#xe642;</i></a>");
                    HtmlBuilder.Append("<a class='a_quickLink_Btn' name='a_customization_delete' title='" + Html.Lang("txt_Delete") + "' onclick='delete_Item(2, " + curItem.c_ID + ", \"" + curItem.c_Name + "\");' ><i class='layui-icon' style='font-size: 29px; color: white;'>&#xe640;</i></a>");

                    HtmlBuilder.Append("</div>");
                    HtmlBuilder.Append("</div>");

                    // 快速链接详细信息
                    HtmlBuilder.Append("<a target='_blank' name='a_quickLinkAccess' href='" + curItem.c_Linkage + "' title='" + Html.Lang("txt_Visit") + " " + curItem.c_Name + "' style='color:#666;'><h4 class='layui-elip'><b>" + curItem.c_Name + "</b></h4></a>");
                    HtmlBuilder.Append("<p class='layui-elip' style='cursor: help' title='" + curItem.c_Description + "'>" + Html.Lang("txt_Description") + ": " + curItem.c_Description + "</p>");
                    HtmlBuilder.Append("<br /><br /></div>");

                    if (i == CustomizationList.Count - 1)
                    {
                        HtmlBuilder.Append("</div></div>");
                    }

                    lastCategory = curItem.c_Category;
                }

                HtmlBuilder.Append("</div>");
            }
            else
            {
                HtmlBuilder.Append("<div class='div_content_op'>");

                HtmlBuilder.Append("<blockquote class='layui-elem-quote layui-quote-nm' style='height: auto;'>");

                HtmlBuilder.Append("<div style='vertical-align: central'>");
                HtmlBuilder.Append("<h4 style='margin-top:0px; margin-bottom:15px;'>" + Html.Lang("txt_Customization_NoData_Description") + "</h4>");
                HtmlBuilder.Append("</div>");

                HtmlBuilder.Append("<div class='layui-btn-container'>");
                HtmlBuilder.Append("<button class='btn btn-primary layui-btn btn_tool' id='btn_addCustomization' title='" + Html.Lang("txt_AddCustomization") + "' onclick='addCustomization(" + ViewBag.DeptID + ");' ><i class='layui-icon'>&#xe61f;</i></button>");
                HtmlBuilder.Append("</div>");

                HtmlBuilder.Append("</blockquote>");
                HtmlBuilder.Append("</div>");

                HtmlBuilder.Append("<div class='body-content'><img class='img_contentMsg' src='/Img/no-data-found.jpg'/></div>");
            }
        }

        #endregion
    }

    @(new HtmlString(HtmlBuilder.ToString()))
}